.curate
  &-container
    position: relative
  &-clouds
    position: absolute
    top: -168px
    width: 100%
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 61px
  &-button
    display: block
    width: 198px
    height: 56px
  &-subtitle
    margin-bottom: 20px
  &-title
    color: #130F40
    font-weight: 700
    font-size: 40px
    line-height: 50px
  &-wrapper
    position: relative
.slide
  &-img
    width: 430px
    height: 430px
    overflow: hidden
    border-radius: 20px
  &-image
    width: 100%
    height: 100%
    object-fit: cover
  &-text
    display: flex
    align-items: flex-start
    flex-direction: column
  &-title
    font-weight: 600
    font-size: 36px
    line-height: 34px
    color: background: #130F40
    margin-right: 90px
.stars
  &-item
    width: 20px
    height: 20px
    margin-right: 5px
.text
  &-top
    display: flex
    align-items: center
  &-bottom
    flex-basis: 100%
